<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="icon" type="image/x-icon" href="imagenes/sopa-caliente.png">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
        integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="./css/estilos.css">
    <!-- iconos -->
    <script src="https://kit.fontawesome.com/f7a2947fd3.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="idheader">
       

    </header>
    <main>
        <h2>Recetas dulces:</h2>
        <div class="container">
            <div class="row gy-0">
                <div class="col gx-5">

                    <h3>Panqueques con dulce de leche </h3>
                    <img id="panqueddl" src="./imagenes/panqueques.jpg" alt="Panqueques">
                </div>
                <div class="col gx-5">
                    <h4>Ingredientes:</h4>
                    <div class="container mt-3">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Cantidad</th>
                                    <th>Producto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>Huevos</td>
                                </tr>
                                <tr>
                                    <td>1 taza</td>
                                    <td>de harina 0000</td>
                                </tr>
                                <tr>
                                    <td>1/2 taza</td>
                                    <td>de azucar</td>
                                </tr>
                                <tr>
                                    <td>Un chorrito</td>
                                    <td>de esencia de vainilla</td>
                                </tr>
                                <tr>
                                    <td>Cantidad necesaria</td>
                                    <td>de leche</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col gx-5">
                    <h4>A tener en cuenta:</h4>
                    <ul class="instrucciones">
                        <li>Una vez hecha la mezcla, dejar reposar 30min antes de cocinar</li>
                        <li>Calentar sarten a fuego medio e incorporar manteca o Ghee antes de cocinar cada uno</li>
                    </ul>


                </div>

                <div class="row gy-0">
                    <div class="col gx-5">
                        <h3>Pancakes de chia</h3>
                        <div class="card">
                            <div class="card-header"> Panqueques de chia</div>
                            <div class="card-body">

                                <img id="panquechia" src="./imagenes/pacakes-chia.jpg" alt="Pancakes de chia">
                            </div>
                        </div>
                    </div>
                    <div class="col gx-5">
                        <h4>Ingredientes:</h4>
                        <div class="container mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Ingredientes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2 cditas</td>
                                        <td>de chia</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>banana</td>
                                    </tr>
                                    <tr>
                                        <td>Pasas de uva</td>
                                        <td rowspan="3">a gusto</td>
                                    </tr>
                                    <tr>
                                        <td>Almendras</td>
                                    </tr>
                                    <tr>
                                        <td>Semillas de girasol</td>
                                    </tr>
                                    <tr>
                                        <td>1 </td>
                                        <td>huevo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="col gx-5">
                        <h4>A tener en cuenta:</h4>
                        <ul class="instrucciones">
                            <li>El huevo es para sumar proteinas, se puede obviar</li>
                            <li>Incorporar todos los ingredientes en un bowl.</li>
                            <li>Cocinar en sarten a fuego medio con Ghee</li>
                            <li>Dar vuelta a mitad de coccion</li>
                        </ul>
                    </div>


                </div>
                <div class="row gy-0">
                    <div class="col gx-5">
                        <h3> Torta invertida de manzana</h3>
                        <div class="card">
                            <div class="card-header">Torta invertida </div>
                            <div class="card-body">
                                <img id="invertidamanz" src="./imagenes/invertida-manzana.jpg"
                                    alt="Torta invertida de manzana">
                            </div>
                        </div>
                    </div>
                    <div class="col gx-5">
                        <h4>Ingredientes:</h4>
                        <div class="container mt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Ingredientes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>3</td>
                                        <td>manzanas verdes</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>huevos</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">1 taza</td>
                                        <td>de harina 0000</td>
                                    </tr>
                                    <tr>
                                        <td>de azucar</td>
                                    </tr>
                                    <tr>
                                        <td>Cant/nec</td>
                                        <td>de leche</td>
                                    </tr>
                                    <tr>
                                        <td>200ml</td>
                                        <td>de agua</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col gx-5">
                        <h4>Pasos a seguir:</h4>
                        <ul class="instrucciones">
                            <li>Poner 1/2 taza de azucar en la Essen</li>
                            <li>Agregar el agua y calentar hasta obtener caramelo</li>
                            <li>Agregar el resto de la preparacion</li>
                            <li>Tapar la olla y cocinar a fuego medio/fuerte</li>
                        </ul>
                    </div>
                </div>
            </div>
    </main>
    <footer id="idfooter">

    </footer>
</body>

</html>